/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

#menu {
  display: flex;
  padding-left: 0;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 17vmin;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

header nav ul li {
 list-style-type: none;

} 

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.searchList {
  display: flex;
  justify-content: space-between;
}

#about {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#about img, #ideas img {
  width: 100%;
  margin-bottom: 15px;
}

section img {
  width: 100%;
  margin-bottom: 15px;
}

#host p{
  text-align: center;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media only screen and (min-width: 480px) {
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .logo{
    font-size: 6vmin;

  }
  #menu{
    padding-bottom: 12px;
  }
  .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .searchList{
    display: flex;
    flex-direction: column;
    width: 15%;
  } 
  form select,
  form input {
    width: 100%;
  } 
  #btn {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 15%;
  }
  form button {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
  }
  
  .item-double {
    display: flex;
    align-items: center;
  }
  .item-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }

}